html {
    font-family: helvetica;
    overflow-y: auto;
    background-color: #259c82;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.announceDiv {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
}

.playing-board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 5px solid black;
    background-color: #706f6f;
}

.cell {
    border: 1px solid black;
    text-align: center;
    border-bottom: 0;
}

.cell:hover {
    background-color: #259c82;
}

.Xchoice {
    background-image: url("./images/X.jpg");
    background-color: transparent;
    background-position: center center;
}

.Ochoice {
    background-image: url("./images/O.jpg");
    background-color: transparent;
    background-position: center center;
}

.reset-btn {
    width: 167px;
    height: 70px;
    font-size: 20px;
    background-color: #706f6f;
    border: 3px solid #000;
    border-radius: 10px;
    margin-top: 30px;
}

.reset-btn:hover {
    background-color: transparent;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-button {
    width: 26px;
    height: 25px;
    background-image: url("./images/github-icon.svg");
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.github-button:hover {
    transform: rotate(360deg);
}